html,
body {
  margin: 0px;
  height: 100%;
}
.css-1jnrd1z{
  margin :0;
}
.css-aeel9r{
  width: 300px !important;
}

.css-1gmolfa{
  margin-top: calc(50% - 100px) !important;
  margin-left: 20px;
  margin-right: 20px;
}
